fastapi
uvicorn
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface

astrapy
cassio
langchain-astradb

faiss-cpu
pypdf
bs4
wikipedia

langchain-groq
sentence-transformers